<header>
  <span id="header-name" onclick="window.location.href='/'" style="cursor:pointer">{{ .Site.Params.Author }}</span>

  <div id="socialpanel">
    <a href="/search" class="header-social" id="header-search"><i class="ic fa-solid fa-magnifying-glass"></i></i></a>
    <a href="https://github.com/Jemoka/" class="header-social" id="header-github"><i class="ic fa-brands fa-github"></i></a>
    <a href="https://twitter.com/jemokajack" class="header-social" id="header-twitter"><i class="ic fa-brands fa-twitter"></i></a>
    <a href="https://www.jemoka.com/" class="header-social" id="header-domain"><i class="ic fa-regular fa-globe"></i></a>
  </div>

</header>
