<header>
  <span id="header-name" onclick="window.location.href='/'" style="cursor:pointer">{{ .Site.Params.Author }}</span>'s notes and blag
  <div id="socialpanel">
    <a href="https://github.com/Jemoka/" class="header-social" id="header-github"><i class="ic fa-brands fa-github"></i>jemoka</a>
    <a href="https://twitter.com/jemokajack" class="header-social" id="header-twitter"><i class="ic fa-brands fa-twitter"></i>jemokajack</a>
    <a href="https://www.jemoka.com/" class="header-social" id="header-domain"><i class="ic fa-regular fa-globe"></i>jemoka.com</a>
  </div>

</header>
